/* Variables */
$my-orange: rgba(250, 192, 94, 1);
$my-green: rgba(120, 192, 145, 1);
$my-blue: rgba(95, 159, 185, 1);
$my-lavender: #6d7993;
$my-grey: #aaa;

.bkg-grey {
    background-color: $my-grey;
}

.bkg-orange {
    background-color: $my-orange;
}

.bkg-green {
    background-color: $my-green;
}

.bkg-blue {
    background-color: $my-blue;
}

.bkg-lavender {
    background-color: $my-lavender;
}

/* General elements */
* {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: inherit;
}

body {
    margin: 0;
    background-color: $my-grey;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    text-decoration: none;

    &.show-link {
        color: $my-orange;
    }
}

img {
    max-width: 200px;

    &.center {
        margin: auto;
        display: block;
    }
}

div {
    vertical-align: top;
}

.center {
    text-align: center;
}

.div-nest {
    margin-left: 40px;
    margin-right: 40px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;

    img {
        width: 100%;
        height: auto;
    }

    .grid-4 {
        grid-column-end: span 4;
    }

    .grid-6 {
        grid-column-end: span 6;
    }

    .grid-8 {
        grid-column-end: span 8;
    }

    .grid-12 {
        grid-column-end: span 12;
    }
}


.ib {
    display: inline-block;
     &.ib-2 {
        height: auto;
        width: 16.666666%
    }
    &.ib-3 {
       height: auto;
       width: 25%
    }
    &.ib-4 {
        height: auto;
        width: 33.333333%
    }
    &.ib-6 {
        height: auto;
        width: 50%
    }
    &.ib-8 {
        height: auto;
        width: 66.666666%
    }
    &.ib-9 {
        height: auto;
        width: 75%
    }
}

.quote {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

/* Header and Titles */
.header {
    text-align: center;

    a {
        color: white;
    }
    .header-links {
        float: right;
        position: fixed;
        top: 0;
        line-height: 80px;

        .header-link {
            display: inline-block;
            width: 150px;
        }
    }
    .logo {
        position: fixed;

        img {
            width: 200px;
            height: 200px;
        }
    }
    .mask {
        position: fixed;
        height: 84px;
        width: 100%;
    }
    .buffer {
        padding-top: 290px;
    }
}
.footer{
    text-align: center;
    padding: 25px;
    .fa {
        margin: 10px;
        font-size: 30px;
    }
}

.page-title {
    text-align: center;
}

/* Post formating */
.post {
    padding: 20px 200px;

    .post-header {
        margin: 20px 0;

        .post-title {
            font-size: 18pt;
        }
        .post-created {
            float: right;
        }
    }

    .subsection {
        margin-left: -20px;
    }
}

.post-color {
    &:nth-child(3n+1) {
      background-color: $my-blue;
    }
    &:nth-child(3n+2) {
      background-color: $my-green;
    }
    &:nth-child(3n+3) {
      background-color: $my-lavender;
    }
}

.new-comment {
    margin: 0 20px;

    textarea {
        color: black;
        font-size: 10pt;
        background: white;
        width: 100%;
        height: 80px;
        resize: none;
    }
}

.comments {
    margin: 0 40px;

    .comment {
        margin: 20px;

        .comment-time {
            float: right;
        }
        .comment-text {
            margin-left: 20px;
        }
    }
}

//Resume
.resume {
    .section {
        .title {
            display: inline-block;
            width: 15%;
        }
        .content {
            display: inline-block;
            width: 80%;

            .subsection {
                padding-bottom: 25px;

                .info-header {
                    text-align: left;

                    .item {
                        font-size: 16pt;
                        display: inline-block;
                    }
                }
                .subheader {
                    font-size: 14pt;
                }
                .info {
                    width: 80%;
                    padding-left: 50px;
                    text-indent: -25px;
                    margin: 5px;

                    &.orphan {
                        padding-left: 0;
                        text-indent: 0;
                    }

                    li {
                        list-style: none;
                        margin: 5px;
                    }

                    .column {
                        display: inline-block;
                        text-indent: 0;
                        width: 40%;
                    }
                }
                .info-date-item {
                    display: inline-block;
                    margin: 5px;
                    padding-left: 50px;
                    text-indent: -25px;
                }
                .date {
                    float: right;
                    display: inline-block;
                }
            }
        }
    }
}
