/* General elements */
* {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: inherit;
}

body {
    margin: 0;
    background: #aaa;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    text-decoration: none;

    &.hover-bold {
        color: var(--my-orange);;
    }
}

div {
    vertical-align: top;
}

.center {
    text-align: center;
}


/* Header and Titles */
.header {
    text-align: center;

    .mdm-icon {
        font-size: 30pt;
        line-height: 100px;
        margin-top: 50px;
    }
    .header-links {
        position: fixed;
        width: 100%;
        top: 0;
        line-height: 40px;

        .header-link {
            padding: 0 50px;
        }
    }
}
.footer{
    text-align: center;
    padding: 25px;
}

.page-title {
    text-align: center;
}

/* Post formating */
.post {
    padding: 20px 40px;

    .post-header {
        margin: 15px 0;

        .post-title {
            font-size: 18pt;
        }
        .post-created {
            float: right;
        }
    }
    .post-body {
        padding: 15px;

        p {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.new-comment {
    margin: 0 20px;

    textarea {
        color: black;
        font-size: 10pt;
        background: white;
        width: 100%;
        height: 80px;
        resize: none;
    }
}

.comments {
    margin: 0 40px;

    .comment {
        margin: 20px;

        .comment-time {
            float: right;
        }
        .comment-text {
            margin-left: 20px;
        }
    }
}

//Resume
.resume {
    .section {
        .title {
            display: inline-block;
            width: 15%;
        }
        .content {
            display: inline-block;
            width: 80%;

            .subsection {
                padding-bottom: 25px;

                .header {
                    text-align: left;

                    .item {
                        font-size: 16pt;
                        display: inline-block;
                    }
                }
                .subheader {
                    font-size: 14pt;
                }
                .info {
                    width: 80%;
                    padding-left: 50px;
                    text-indent: -25px;
                    margin: 5px;

                    &.orphan {
                        padding-left: 0;
                        text-indent: 0;
                    }

                    li {
                        list-style: none;
                        margin: 5px;
                    }

                    .column {
                        display: inline-block;
                        text-indent: 0;
                        width: 40%;
                    }
                }
                .info-date-item {
                    display: inline-block;
                    margin: 5px;
                    padding-left: 50px;
                    text-indent: -25px;
                }
                .date {
                    float: right;
                    display: inline-block;
                }
            }
        }
    }
}


:root {
  --my-grey: rgba(174, 199, 188, 1);
  --my-pink: rgba(213, 187, 177, 1);
  --my-orange: rgba(250, 192, 94, 1);
  --my-green: rgba(120, 192, 145, 1);
  --my-blue: rgba(95, 159, 185, 1);
}

.bkg-grey {
    background-color: var(--my-grey);
}

.bkg-pink {
    background-color: var(--my-pink);
}

.bkg-orange {
    background-color: var(--my-orange);
}

.bkg-green {
    background-color: var(--my-green);
}

.bkg-blue {
    background-color: var(--my-blue);
}
