/* General elements */
* {
  font-family: 'Raleway', sans-serif;
  color: white;
  background: inherit; }

body {
  margin: 0;
  background: #aaa; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

a {
  text-decoration: none; }
  a.hover-bold {
    color: var(--my-orange); }

.center {
  text-align: center; }

/* Header and Titles */
.header {
  text-align: center; }
  .header .mdm-icon {
    font-size: 30pt;
    line-height: 100px;
    margin-top: 50px; }
  .header .header-links {
    position: fixed;
    width: 100%;
    top: 0;
    line-height: 40px; }
    .header .header-links .header-link {
      padding: 0 50px; }

.page-title {
  text-align: center; }

/* Post formating */
.post {
  padding: 20px 40px; }
  .post .post-header {
    margin: 15px 0; }
    .post .post-header .post-title {
      font-size: 18pt; }
    .post .post-header .post-created {
      float: right; }
  .post .post-body {
    padding: 15px; }
    .post .post-body p {
      margin-left: 20px;
      margin-right: 20px; }

.new-comment {
  margin: 0 20px; }
  .new-comment textarea {
    color: black;
    font-size: 10pt;
    background: white;
    width: 100%;
    height: 80px;
    resize: none; }

.comments {
  margin: 0 40px; }
  .comments .comment {
    margin: 20px; }
    .comments .comment .comment-time {
      float: right; }
    .comments .comment .comment-text {
      margin-left: 20px; }

:root {
  --my-grey: #aec7bc;
  --my-pink: #d5bbb1;
  --my-orange: #fac05e;
  --my-green: #78c091;
  --my-blue: #5f9fb9; }

.bkg-grey {
  background-color: var(--my-grey); }

.bkg-pink {
  background-color: var(--my-pink); }

.bkg-orange {
  background-color: var(--my-orange); }

.bkg-green {
  background-color: var(--my-green); }

.bkg-blue {
  background-color: var(--my-blue); }
